body{
	padding: 0;
	margin: 0;
}
.shadow-right-side{
	box-sizing: border-box;
	box-shadow: 2px 1px 4px gray;
}

.card:hover{
	box-sizing: border-box;
	box-shadow: 1px 1px 2px gray;
	cursor: pointer;
}
.card-body{
	border-top:1px solid #eee;
}
.wrapper-music-box{
	width:24%;float:left;margin:1% 1% 0 0;transition: 0.5s;
	box-sizing: border-box;
	border:1px solid whitesmoke;
}
.wrapper-music-box:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.music-img{
	width:100%;float:left;position:relative
}
.music-img img{
	width: 100%;
}
.music-detail{
	position:absolute;bottom:0px;left:0;color:whitesmoke;
	background:rgba(0,0,0,0.6);width:98%;padding:1%;height:45px;transition:0.5s;
	width:100%;
	padding-top:10px;
	text-align: center;
}
.music-detail span{
	font-weight:bold;
}
.music-detail p{
	font-size:0.9rem;
	display: none;
}
.wrapper{
	margin-left:20px;
	padding-left: 20px;
}

.wrapper-music-box:hover .music-detail{
	height: 60px;
}
.wrapper-music-box:hover .music-detail p{
	display: block;
}
.data-retireve{
	transition: 0.5s;
	opacity: 0.5;
	padding: 160px 0;
}
.rotate-data{
	padding: 50px 0;
	font-size: 2rem;
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* start btn scroll to top */
.btn-scroll-top{
	position:fixed;z-index:1234;bottom:10px;background:rgba(0,0,0,0.5);
	border-radius:5px;right:10px;color:white;font-size: 2rem;
	transition: 0.2s;
	padding: 0.2rem 0.5rem;
	display: none;
}
.btn-scroll-top:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.8);
	padding:0rem 0.3rem;
	font-size: 2.4rem;
}
/* end btn-scroll to top */
@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}
@media only screen and (max-width: 992px){
	.wrapper-music-box{
		width: 49%;
	}	
	.wrapper{
		margin-left: 0px;
		padding-left: 0px;
	}
}